<!-- Destinatarios -->
<div class="card seleccion-destinatarios-card">
    <div class="card-header">
        <div class="card-header-content">
            <i class="fas fa-users"></i>
            <span>Destinatarios</span>
        </div>
    </div>
    <div class="card-content">
        <div class="form-group">
            <label>Origen de Destinatarios</label>
            <select id="destinatarios-select">
                <option value="activos">Contactos Registrados</option>
                <option value="grupo">Grupo Específico</option>
            </select>
        </div>
    </div>
</div>